.light__mode{
    background-color: white !important;
}

.light__mode,
     .btn-close {
    background-color: #2b00ffd8;
    opacity: 1;

}
.dark__mode{
        background-color: #071b36 !important;
        color: white !important;
}
.dark__mode .nav-link,
.dark__mode h1,
.dark__mode h2,
.dark__mode h3,
.dark__mode h4,
.dark__mode h5,
.dark__mode h6,
.dark__mode p,
.dark__mode header  {
            color: white !important;
}
.dark__mode .offcanvas-header,
.dark__mode .offcanvas-body {
    background-color: #071b36;

}
.dark__mode .navbar-light .navbar-toggler-icon {

opacity: 1;
}

.dark__mode .popular-post-text h2 {
    color: #00becf !important;
    text-decoration: underline;
}
.dark__mode .Treading span {
    color: rgb(255, 255, 255) !important;
    -webkit-text-fill-color: #ffffff;
        -webkit-background-clip: text;

}
.dark__mode .btn-close {
 background-color: white;
 opacity: 1;
   
}
.container-fluid{
    padding-top: 25px ;
}
svg{
    width: 2em;
    height: 2em;
}

.dark__mode .navbar-light .navbar-brand {
        background: #2b00ffd8;
            background: linear-gradient(to right, #00becf 22%, #2b00ffd8 74%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}

.dark__mode .navbar-light .navbar-toggler {
    color: transparent !important;
    border-color: rgb(255, 255, 255) !important;
    border-color: rgb(255, 255, 255) !important;
}
.dark__mode .active {
    color: #2b00ffd8 !important;
}

.dark__mode .nav-link:hover {
    color: blue !important;
}