.light__mode{
    background-color: white !important;
}


.dark__mode{
        background-color: #071b36 !important;
        color: white !important;
}
.dark__mode .nav-link,
.dark__mode h1,
.dark__mode h2,
.dark__mode h3,
.dark__mode h4,
.dark__mode h5,
.dark__mode h6,
.dark__mode p,
.dark__mode header  {
            color: white !important;
}
.dark__mode .offcanvas-header,
.dark__mode .offcanvas-body {
    background-color: #071b36;

}
.dark__mode .navbar-light .navbar-toggler-icon {

opacity: 1;
}

.dark__mode .popular-post-text h2 {
    color: #00becf !important;
    text-decoration: underline;
}
.dark__mode .Treading span {
    color: rgb(255, 255, 255) !important;
    -webkit-text-fill-color: #ffffff;
        -webkit-background-clip: text;

}
.dark__mode .btn-close {
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/delete-sign.png);
    /* background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>"); */
    /* <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" /></svg> */
        /* background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z' clip-rule='evenodd'/></svg>") !important; */
        background-repeat: no-repeat;
 background-color: white !important;   
}
.dark__mode .offcanvas-header .btn-close{
     background-color: white !important;   
}

 .btn-close {
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/delete-sign.png);
    /* background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>"); */
    /* <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" /></svg> */
    /* background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z' clip-rule='evenodd'/></svg>") !important; */
    background-repeat: no-repeat;
    background-color: white !important;
}

/* .light__mode .btn-close {
    background-color: #2b00ffd8 !important;
    

} */
.container-fluid{
    padding-top: 25px ;
}
svg{
    width: 2em;
    height: 2em;
}

.dark__mode .navbar-light .navbar-brand {
        background: #2b00ffd8;
            background: linear-gradient(to right, #00becf 22%, #2b00ffd8 74%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}

.dark__mode .navbar-light .navbar-toggler {
    color: transparent !important;
    border-color: rgb(255, 255, 255) !important;
    border-color: rgb(255, 255, 255) !important;
}
.dark__mode .active {
    color: #2b00ffd8 !important;
}

.dark__mode .nav-link:hover {
    color: blue !important;
}